.signup-page,.login-page{
    display: flex;
    width:100vw;
}

.signup,.login{
    display:flex;
    flex-direction: column;
    gap:1vw;
    width:30%;
    margin-left: 40%;
    margin-top: 10%;    
}

